/* Estilo para a div que envolve cada personagem (card) */
.card {
    background-color: #3498db; /* Cor de fundo azul */
    border: 1px solid #2980b9; /* Cor da borda mais escura */
    border-radius: 8px; /* Borda arredondada */
    padding: 20px; /* Espaçamento interno */
    margin: 10px; /* Espaçamento externo */
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra leve */
}

/* Estilo para o parágrafo dentro da div */
.card p {
    color: #fff; /* Cor do texto branco */
    font-size: 16px;
    margin-bottom: 8px;
}

/* Estilo para a imagem dentro da div */
.card img {
    width: 200px; /* Largura fixa da imagem */
    height: auto; /* Altura ajustada automaticamente para manter a proporção */
    max-height: 300px; /* Altura máxima para evitar que a imagem ultrapasse 200 pixels */
    object-fit: cover; /* Garante que a imagem cubra completamente a área designada */
    border-radius: 8px; /* Borda arredondada para a imagem */
}